
*
{
  box-sizing: border-box;
}
.logo
{
  font-family: 'Shrikhand', cursive;

  background: -webkit-linear-gradient( #99E2D0, #9356DC, #FF79DA, #99E2D0, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;

}

body
{
  background-color: var(--grey);
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: black;
  max-width: 800px;
  margin: auto;
  padding: 8px;
  text-transform: capitalize;

}

header, section, article, picture, div
{
  width: 100%;
  display: flex;
  margin: auto;
}
header, section, article, picture, div :after
{
  content: "";
  display: table;
  clear: both;
}

h2, h3, h4, h5, h6
{
  width: 100%;

  margin: 8px;
}
h1
{
  float: left;
  text-align: left;
  display: block;
  /* https://fonts.google.com/specimen/Rancho?preview.text=Booki&preview.text_type=custom */
  font-family: 'Rancho', cursive;
  color: var(--blue);
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  font-size: 48;
  width: 100%;

}
h2
{
  font-size: 20px;
  font-weight: bold;
}
h3
{
  font-size: 16px;
  font-weight: bold;
}
p
{
  font-size: 14px;
  font-weight:  400;
}
li
{
  text-align: left;
  list-style-type: none; /* Remove bullets */
  padding:0px; /* Remove padding */
  margin:0px; /* Remove margins */
}

li article
{
  background-color: white;
  text-align: left;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px grey;
}

li article img
{
  height: 180px;
}
li article h3
{
  font-size: 14px;
  font-weight: lighter;
}
ul
{
  text-align: center;
  margin: auto;
  padding:0px; /* Remove padding */
  margin:0px; /* Remove margins */
}
picture
{
  width: 100%;
  float: left;
}
img
{
   width:100%;
   object-fit: cover;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}


/* containers */

.mmn-container
{
  width: 100%;
  display: flex;
  padding: 8px;
}

.mmn-container, .mmn-half :after
{
  content: "";
  display: table;
  clear: both;
}

.mmn-half
{
  width: 50%;
  float: left;
}
.mmn-quarter
{
  width: 25%;
  float: left;
}
.mmn-threequarter
{
  width: 75%;
  float: left;
}
.mmn-twothird
{
  width: 66.66%;
  float: left;
}
.mmn-third
{
  width: 33.33%;
  float: left;
}

/* text align */

.mmn-right
{
  text-align: right;
  width: auto;
  float: right;
}
.mmn-left
{
  text-align: left;
}
.mmn-center
{
  margin: auto;
  text-align: center;

}

/* borders */
.mmn-circle
{
  border-radius: 50%;
}

.mmn-border
{
  border: 1px solid;
}

.mmn-rounded
{
  border-radius: 25px;

}

/* font sizes */

.mmn-tiny
{
  font-size: 10px;
}

.mmn-small
{
  font-size: 10px;
}
.mmn-medium
{
  font-size: 12px;
}
.mmn-large
{
  font-size: 14px;
}
.mmn-xlarge
{
  font-size: 18px;
}
.mmn-xxlarge
{
  font-size: 22px;
}
.mmn-xxxlarge
{
  font-size: 48px;
}

.mmn-hide
{
  display: none;
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px)
{
/*
  .mmn-container, .mmn-half
  {
    width: 100%;
  }

  .mmn-twothird, .mmn-third,
  {
    width: 100%;
    padding: 50px;
  }

  .flex-container > div
  {
    width: 100%;
    margin: 5px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    flex-grow: 1;
  }
  .mmn-hide-small
  {
    display: none;
  }
  .mmn-hide
  {
    display: contents;
  }
  */
}
