
*
{
  box-sizing: border-box;
}

/* logo, main title  */
h1, footer h2
{
  font-family: 'Shrikhand', cursive;

  background: -webkit-linear-gradient( #99E2D0, #9356DC, #FF79DA, #99E2D0, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;

}



body
{
  background-color: var(--grey);
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: black;
  max-width: 500px;
  margin: auto;

}
/* capitalize first*/

*::first-letter
{
  text-transform: capitalize;
}

h2::first-letter
{
  font-weight: bold;
  color: var(--primary);
}


header
{
  background-color: white;
  box-shadow: 2px 2px 10px grey;
}


header, section, article, picture, div
{
  width: 100%;
  display: flex;
  margin: auto;
}
header, section, article, picture, div :after
{
  content: "";
  display: table;
  clear: both;
}

section
{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

/* localisation */
section:nth-of-type(1)
{
  text-align: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin-top: 15px;

}

/* operation list */
section:nth-of-type(2)
{
  background-color: white;
  text-align: left;
  margin: auto;
  width: 100%;
}

/* restaurant list */
main section:nth-of-type(1)
{
  background-color:var(--grey);
  text-align: left;
  margin: auto;
  padding: 16px;
  width: 100%;
}

/* init heading level properties */
h2, h3, h4, h5, h6
{
  width: 100%;
  margin: 2px;
  padding: 4px;
}

h2
{
  font-size: 20px;
  font-weight: bold;
}
h3
{
  font-size: 16px;
  font-weight: bold;
}
p
{
  font-size: 14px;
  font-weight:  400;
}

/* operation ol style properties */

ol :hover
{
  background-color: #f5edff;
  color: purple;
}

ol li
{
  /*list-style: circled;*/
  background-color: var(--light-grey);
  border-radius: 20px;

  margin-bottom: 25px;
  margin-left: -20px;

  padding-top: 20px;
  padding-bottom: 20px;

  box-shadow: 2px 2px 10px grey;


}

/* awsome font style */
.fas
{
  margin: 10px;
  color: grey;
  width: 20px;
}

/* ol counter style */
/*
https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Counter_Styles/Using_CSS_counters
*/
ol
{
  counter-reset: section;                /* crée une nouvelle instance du
                                            compteur section avec chaque ol */
  list-style-type: none;
}



ol li::before
{
  background-color: #9356dc;
  color: white;

  border-radius: 50%;
  text-align: center;

  padding: 5px;
  padding-left: 10px;

  margin-left: -15px;

  counter-increment: section;            /* incrémente uniquement cette
                                            instance du compteur */
  content: counters(section,".") " ";    /* ajoute la valeur de toutes les
                                            instances séparées par ".". */
                                         /* Si doit supporter < IE8 il faudra
                                            faire attention à ce qu'il n'y ait
                                            aucun blanc après ',' */
}

/* list style*/

li
{
  text-align: left;
  list-style-type: none; /* Remove bullets */
  padding:0px; /* Remove padding */
  margin:0px; /* Remove margins */
}

/* restaurants articles list properties*/
ul
{
  text-align: center;
  padding:0px; /* Remove padding */
  margin:0px; /* Remove margins */
}

li article
{
  background-color: white;
  text-align: left;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px grey;
}

/* images */

picture
{
  width: 100%;
  float: left;
  margin-bottom: 8px;
}

img
{
   width:100%;
   object-fit: cover;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}

li article img
{
  height: 180px;
}

li article h3
{
  font-size: 14px;
  font-weight: 400;
}

/* links */

a
{
  text-decoration: none;
  color: black;
}

a:focus
{
  background: var(--secondary);
  color: var(--primary);
}



/* form, button */

/*
https://www.w3schools.com/css/tryit.asp?filename=trycss_form_button
*/
input[type=button], input[type=submit], input[type=reset]
{
  background: linear-gradient(25deg,rgba(166,92,219,1), rgba(236,134,220,1));
  border-radius: 25px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 2px 2px 10px grey;
}
input:hover[type="submit"]
  {
    background-image: linear-gradient(25deg, rgba(166,92,219,0.5), rgba(236,134,220,0.5));
    box-shadow: 15px 15px 15px grey;

  }

input[type=text], input[type=reset]
{
  font-family: FontAwesome;
  background: var(--grey);
  width: 100%;
  border: none;
  color: #999;
  font-weight: bolder;
  padding: 16px 32px;
  text-decoration: none;
  margin-bottom: 50px;
  text-align: center;


}

form
{
  background-color: var(--light-grey);
  margin: 0px;
  padding: 0px;
  padding-bottom: 20px;
}


/** footer **/

/* logo */

footer
{
  background-color: #333;
  width: 100%;
  padding: 10px;
  color: #DDD;
  text-align: left;
}

footer h2
{
  background: -webkit-linear-gradient( #AAA, #EEE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px;
}

/* links */
 footer a
 {
   color: #EEE;
 }

 /* ul list properties */

 footer ul :hover
 {
   color: var(--tertiary);

 }

 footer li
 {
   margin-bottom: 10px;
 }


/*
  hearth
  https://www.w3schools.com/css/css_positioning.asp // relative position
  https://css-tricks.com/adding-stroke-to-web-text/ add border to text/ Using_CSS_counters
*/
 .fa-heart
 {

    /*          text-shadow:
                         -1px -1px 0 rgba(255,255,255,.5),
                         1px 1px 0 rgba(0,0,0,.25),
                         3px 3px 3px rgba(0,0,0,.25),
                         10px 10px 20px rgba(0,0,0,.5),
                         20px 40px 40px rgba(0,0,0,.5);
                         */
                         color: black;
                           -webkit-text-fill-color: white; /* Will override color (regardless of order) */
                           -webkit-text-stroke-width: 1px;
                           -webkit-text-stroke-color: black;
              font-size: 30px;
              position: relative;
              left: 85%;
              top: -40px;
 }

 /*
https://developer.mozilla.org/fr/docs/Web/CSS/background-clip /manage text background
 */
 .fa-heart:hover
 {

   -webkit-text-stroke-width: 0px;


   background: -webkit-radial-gradient(circle, var(--secondary), var(--primary));

   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

   font-size: 30px;
   position: relative;
   left: 85%;
   top: -40px;
 }


 /*** custom checkboxes ***/

 input[type=checkbox] { display:none; } /* to hide the checkbox itself */
 input[type=checkbox] + label:before {
   font-family: FontAwesome;
   display: inline-block;
 }

 input[type=checkbox] + label:before
 {
  content: "\f004";
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 30px;
  position: relative;
  left: 85%;
  top: -40px;
} /* unchecked icon */

input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before
{
   content: "\f21e";
   -webkit-text-stroke-width: 0px;


   background: -webkit-radial-gradient(circle, var(--secondary), var(--primary));

   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

   font-size: 30px;
   position: relative;
   left: 85%;
   top: -40px;
   animation-name: example;
   animation-duration: 4s;
} /* checked icon */

 input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

 /* animations */

 @keyframes example
 {
  /* rgba(147, 86, 220, 0),rgba(225,128,220,0)*/

   0%
   {
      background-color:red;
      background: -webkit-radial-gradient(circle, rgba(147, 86, 220, 0.1), rgba(225,128,220,0.1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    50%
    {
       background-color:red;
       background: -webkit-radial-gradient(circle, rgba(147, 86, 220, 0.5), rgba(225,128,220,à.5));
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
     }
     75%
     {
        background-color:red;
        background: -webkit-radial-gradient(circle, rgba(147, 86, 220, 0.75), rgba(225,128,220,0.75));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      100%
      {
         background-color:red;
         background: -webkit-radial-gradient(circle, rgba(147, 86, 220, 1), rgba(225,128,220,1));
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
       }
 }
